USE [master]
GO
/****** Object:  Database [GerenciarVeiculos]    Script Date: 06/09/2024 10:00:58 ******/
CREATE DATABASE [GerenciarVeiculos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GerenciarVeiculos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GerenciarVeiculos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GerenciarVeiculos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GerenciarVeiculos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GerenciarVeiculos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GerenciarVeiculos]
GO
/****** Object:  User [cantina]    Script Date: 06/09/2024 10:00:59 ******/
CREATE USER [Teste_API] FOR LOGIN [Teste_API] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Merchants]    Script Date: 06/09/2024 10:00:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Merchants](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MerchantId] [nvarchar](100) NOT NULL,
	[MerchantKey] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Veiculos]    Script Date: 06/09/2024 10:00:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Veiculos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[veiculo] [varchar](100) NULL,
	[Status] [varchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Veiculos] ADD  DEFAULT ('CONNECTADO') FOR [Status]
GO
USE [master]
GO
